@font-face {
  font-family: NotoSansEthiopic;
  src: url(/Fonts/static/NotoSansEthiopic-Regular.ttf) format('truetype');
}

:root {
  --primary-main-color: #010136;
  --primary-main-light-color: #00ffff;
  --primary-white: #ffffff;
  --primary-accent-color: #800000;
  --primary-gray-color: #6cd1d1;
  --max-width: 85 .375em;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: NotoSansEthiopic;
}

#top {
  /* background-color: #2d2d2c; */
  width: 100%;
  height: auto;
}


/*---------------phone email start -------*/

.main-header__top-container {
  display: flex;
  justify-content: center;
  background-color: var(--primary-main-color);
}

.main-header__top {
  padding: 0.5rem;
  max-width: var(--max-width);
  width: var(--max-width);
  text-align: right;
}

.main-header__top a {
  text-decoration: none;
  font-size: 0.7rem;
  margin-right: 0.9rem;
  color: var(--primary-white);
}


.main-header__top a i {
  background-color: var(--primary-accent-color);
  border-radius: 0.3rem;
  padding: 0.09rem;
}

/*---------------phone email end -------*/

/*---------------navigation and logo start-------*/
.main-header__logo-nav-bg {
  display: flex;
  justify-content: center;
}

.main-header__logo-nav-container {
  max-width: var(--max-width);
  width: var(--max-width);
  display: flex;
  flex: auto;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em;
  background-color: #000600;
}

.main-header__logo img {
  width: 200px;
  padding-right: 0.9rem;
}

/*--nav bar--*/
.main-header__nav ul {
  list-style: none;
}

.main-header__nav li {
  font-size: 1.5rem;
  padding: 0.5em;
}


.main-header-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-header__nav li a {
  text-decoration: none;
  color: var(--primary-main-light-color);
  font-weight: bold;
  padding: 0.7rem;
  transition: all 0.5s ease;
  border-top: var(--primary-gray-color) solid 0.16rem;
}


.main-header__nav li a:hover {
  color: #37ff00;
  border-top: var(--primary-accent-color) solid 0.16rem;
  border-radius: 0.1rem;
}

/*---------------navigation and logo end-------*/

/*------------- main body top container text and image start -------*/

.main-body {
  width: 100%;
}


.main-body__top-contaniner {
  z-index: -1;
  position: relative;
  height: 50vh;
  background: url('/images/imges-s/Aribaminch  egzer bridge.jpg') center;
  /* opacity: 0.3; */
  background-repeat: no-repeat;
  background-size: cover;
}


.main-body__top-container-text {
  position: absolute;
  background-color: rgb(255, 255, 255, 0.4);
  padding: 15px;
  font-size: 2rem;
  bottom: 15px;
  left: 55px;

}

.main-body__top-container-text h1 {
  text-align: center;
  color: #00ffff;
}

/*------------- main body top container text and image end -------*/


/*------------- main body middle container time START -------*/
.main-body__middle-container {
  height: auto;
  background: linear-gradient(to left, rgb(206, 232, 206), yellow, rgb(60, 6, 81)) 30%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.middle-second-section {
  display: flex;
}

.middle-second-section a {
  height: auto;
  width: 20vh;
  border: var(--primary-accent-color) solid 2px;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 5px;
  color: var(--primary-accent-color);
  text-decoration: none;
  transition: border 0.3s ease;
}


.middle-second-section a:hover {
  box-shadow: 0 0 20px 3px #e909de;
  border-width: 4px;
  color: #ffffff;
  border: none;
  background-color: #01013687;
}

.main-body__middle-item-container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "icon-title large-title""small-title small-title";
}


.middle-second-section a i {
  font-size: 3rem;
  grid-area: icon-title;
}

.middle-second-section-top-span {
  grid-area: large-title;
  font-size: 1rem;
  margin-top: 1.5rem;
  color: rgb(255, 255, 255);
  border: #000600 solid 1px;
  background-color: #000600;
  border-radius: 5px;
  box-shadow: 0 0 20px 2px black;
}

.middle-second-section-button-span {
  grid-area: small-title;
  font-size: 1.2rem;
  margin-top: 0.6rem;
}

/*------------- main body middle container time END -------*/