@font-face {
  font-family: NotoSansEthiopic;
  src: url(/Fonts/static/NotoSansEthiopic-Regular.ttf) format('truetype');
}

:root {
  --primary-main-color: #010136;
  --primary-main-light-color: #00ffff;
  --primary-white: #ffffff;
  --primary-accent-color: #800000;
  --primary-gray-color: #616f6f;
  --max-width: 87.375em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: NotoSansEthiopic;

}

.main-header__top-container {
  display: flex;
  justify-content: center;
  background-color: var(--primary-main-color);
  }
   
  .main-header__top {
    padding: 0.5rem;
    max-width: var(--max-width);
    width: var(--max-width);
    text-align: right;
  }

  .main-header__top a{
    text-decoration: none;
    font-size: 0.7rem;
    margin-right: 0.9rem;
    color: var(--primary-white);
  }


  .main-header__top a i {
    background-color: var(--primary-accent-color);
    border-radius: 0.3rem;
    padding: 0.09rem;
  }